

body{
    background-image:url("img1.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
}

p.anna{
    border-style:solid;
    border-color:red green blue yellow;
    border-width:5px;
    text-align: center;
    color:yellow;
}

p.ayyo{
    border-style:dotted;
    border-color:blue black red yellow;
    border-width:1px;
    text-align:right;
    color:blueviolet;
}

h1.op{
    border-width:5px;
    text-align:center;
    border:2px solid brown;
    border-radius:20px;
}

.good{
    border:5px solid black;
    margin-top:100px;
    margin-left: 150px;;
    margin-right:150px;
    margin-bottom:150px;
    background-color: aqua;
    padding:50px;
    box-sizing:border-box;
}

.lala{
    height:25px;
    width:100%;
    border:10px dotted red;
    margin:100px 150px 150px 150px;
    padding:50px;
    box-sizing: border-box;
    background-color: chocolate;

}
.oppo{
    width:300px;
    border:15px solid aqua;
    padding:50px;
    margin:25px;
}